body {
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("body-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
